$MainColor:#009999;  //主色调
$ViceColor:#66cccc;  //副色调
$LeastColor:#CCFFFF;  //次色调


$textMainHeaderColor: #2c2d30;  //主标题
$textViceHeaderColor: #9e9ea6;   //副标题
$textMainColor: #555459; //主文本
$textViceColor: #717274; //副文本
$lineBorderColor: #e0e0e0; //边框线

$btnBg: #26a69a;
$btnActive:lighten($btnBg,3%);

$link: #009999;