@charset "utf-8";
@import 'baseParams';

//btn 主题色
button.el-button {

    color: #ffffff;
    background: $btnBg;
    border-color: $btnBg;

    &:hover {
        background: darken($btnActive, 0.3);
        border-color: darken($btnActive, 0.3);
        color: #ffffff;
    }
    &:visited, &:focus, &:link {
        background: $btnBg;
        border-color: $btnBg;
        color: #ffffff;
    }
    &:active {
        background: darken($btnBg, 0.3);
        border-color: darken($btnBg, 0.3);
        color: #ffffff;
    }
}
//取消按钮
.el-button.cancel {
    &, &:hover {
        background: #d5d5d5 !important;
        border-color: #d5d5d5 !important;
        color: #999;
    }
}

//input,select hover/focus主题色
.el-input, .el-select {
    input, textarea {
        border-radius: 3px;
        border: 1px solid $lineBorderColor;
        padding-left: 10px;
    }
    input:hover, textarea:hover {
        border-color: $textViceHeaderColor;
    }
    input:focus, textarea:focus {
        border-color: $link;
    }
}
input.el-input__inner::-webkit-input-placeholder, textarea.el-textarea__inner::-webkit-input-placeholder {
    color: #d1d1d1;
}
input.el-input__inner::-moz-placeholder, textarea.el-textarea__inner::-moz-placeholder {
    color: #d1d1d1;
}
input.el-input__inner:-ms-input-placeholder, textarea.el-textarea__inner:-ms-input-placeholder {
    color: #d1d1d1;
}
input.el-input__inner::placeholder, textarea.el-textarea__inner::placeholder {
    color: #d1d1d1;
}

textarea.el-textarea__inner::-webkit-input-placeholder {
    color: #d1d1d1;
}
textarea.el-textarea__inner::-moz-placeholder {
    color: #d1d1d1;
}
textarea.el-textarea__inner:-ms-input-placeholder {
    color: #d1d1d1;
}
textarea.el-textarea__inner::placeholder {
    color: #d1d1d1;
}
div.el-input.is-disabled .el-input__inner::-webkit-input-placeholder {
    color: #c6c6c6;
}
div.el-input.is-disabled .el-input__inner::-moz-placeholder {
    color: #c6c6c6;
}
div.el-input.is-disabled .el-input__inner:-ms-input-placeholder {
    color: #c6c6c6;
}
div.el-input.is-disabled .el-input__inner::placeholder {
    color: #c6c6c6;
}

div.el-textarea.is-disabled .el-textarea__inner::-webkit-input-placeholder {
    color: #c6c6c6;
}
div.el-textarea.is-disabled .el-textarea__inner::-moz-placeholder {
    color: #c6c6c6;
}
div.el-textarea.is-disabled .el-textarea__inner:-ms-input-placeholder {
    color: #c6c6c6;
}
div.el-textarea.is-disabled .el-textarea__inner::placeholder {
    color: #c6c6c6;
}

//tab切换 重写和换肤
.el-tabs__header {
    border-bottom-color: $lineBorderColor;
}
// .el-tabs__item {
//     padding: 0 10px;
//     width: 125px;
//     height: 53px;
//     line-height: 53px;
//     text-align: center;
//     font-size: 16px;
//     color: #555;
//     overflow: hidden;
//     text-overflow: ellipsis;

// }
div.el-tabs.el-tabs--card .el-tabs__item {
    padding: 0 0px;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    color: #666666;
    position: relative;
    overflow: inherit;
}
.el-tabs__item.is-active, .el-tabs__item:hover.is-active {
    color: $link !important;
}
.el-tabs__active-bar {
    background: $link !important;
}
.el-tabs__item:hover {
    color: #555;
}
.el-tabs .el-tabs__nav-next, .el-tabs .el-tabs__nav-prev {
    line-height: 70px;
}

  //el-dialog弹框   增加类名class="qj-alertBox"
  .qj-alertBox .el-dialog {
      width: 460px;
  }
  div.el-dialog {
      padding: 0 20px;

      .el-dialog__header {
          padding: 0;
          height: 50px;
          border-bottom: 1px solid rgb(238, 236, 236);
          color: rgb(153, 153, 153);
          line-height: 50px;
          text-align: center;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          .el-dialog__title {
              font-weight: normal;
              color: rgb(153, 153, 153);
          }
          .el-dialog__close:hover {
              color: rgb(191, 203, 217);
          }
          .el-dialog__headerbtn {
              line-height: 50px !important;
              font-size: 16px !important;
              top:0;
          }
      }

      .el-dialog__footer {
          text-align: center;
          .dialog-footer {
              text-align: center;
              button {
                  background: $btnBg;
                  border-color: $btnBg;
                  &:hover {
                      background: $btnActive;
                      border-color: $btnActive;
                  }
              }
          }
      }
  }

  div.el-dialog__wrapper.no-padding-top {
      .el-dialog__body {
          padding-top: 0px !important;
      }
  }
  div.el-dialog__wrapper.no-padding-bottom {
      .el-dialog__body {
          padding-bottom: 0px !important;
      }
  }
  div.el-dialog__wrapper.has-scroll {
      .el-dialog__body {
          padding-right: 0px !important;
      }
  }

.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close{
  color: $link;
}
div .el-dialog .el-dialog__header .el-dialog__close:hover{
  color: $link;
}

// 面包屑
.el-breadcrumb{
  padding:20px 0 ;
  .el-breadcrumb__inner a:hover, .el-breadcrumb__inner:hover{
    color:$frontMainColor;
  }
}