@charset "utf-8";
@import 'baseParams';

// --------------  element-ui 样式覆盖 -------------
// el-button 按钮
button.el-button {

    color: #ffffff;
    background: $fontBtnBg;
    border-color: $fontBtnBg;

    &:hover {
        background: darken($frontBtnActive, 0.3);
        border-color: darken($frontBtnActive, 0.3);
        color: #ffffff;
    }
    &:visited, &:focus, &:link {
        background: $fontBtnBg;
        border-color: $fontBtnBg;
        color: #ffffff;
    }
    &:active {
        background: darken($fontBtnBg, 0.3);
        border-color: darken($fontBtnBg, 0.3);
        color: #ffffff;
    }
}
//取消按钮
.el-button.cancel {
    &, &:hover {
        background: #d5d5d5 !important;
        border-color: #d5d5d5 !important;
        color: #999;
    }
}


// el-pagination 翻页
.el-pager li.active{
	color: $fontBtnBg;
}
.el-pager li:hover{
	color: $fontBtnBg;
}
.el-pagination button:hover{
  color: $fontBtnBg;
}

// el-tabs 表头
.el-tabs__item.is-active{
	color: $fontBtnBg;
}
.el-tabs__item:hover{
	color: $fontBtnBg;
}
.el-tabs__active-bar{
	background-color: $fontBtnBg;
}


// el-radio 单选
.el-radio__input.is-checked .el-radio__inner{
	border-color:$fontBtnBg;
	background:$fontBtnBg;
}
.el-radio__input.is-checked+.el-radio__label{
	color:$fontBtnBg;
}
.el-radio__inner:hover{
	border-color:$fontBtnBg;
}

// 面包屑
.el-breadcrumb{
  padding:20px 0 ;
  .el-breadcrumb__inner a:hover, .el-breadcrumb__inner:hover{
    color:$frontMainColor;
  }
}


// el-input 输入框
.el-input, .el-select {
    input, textarea {
        border-radius: 3px;
        border: 1px solid $lineBorderColor;
        padding-left: 10px;
    }
    input:hover, textarea:hover {
        border-color: $textViceHeaderColor;
    }
    input:focus, textarea:focus {
        border-color: $fontBtnBg;
    }
}
input.el-input__inner::-webkit-input-placeholder, textarea.el-textarea__inner::-webkit-input-placeholder {
    color: #d1d1d1;
}
input.el-input__inner::-moz-placeholder, textarea.el-textarea__inner::-moz-placeholder {
    color: #d1d1d1;
}
input.el-input__inner:-ms-input-placeholder, textarea.el-textarea__inner:-ms-input-placeholder {
    color: #d1d1d1;
}
input.el-input__inner::placeholder, textarea.el-textarea__inner::placeholder {
    color: #d1d1d1;
}

textarea.el-textarea__inner::-webkit-input-placeholder {
    color: #d1d1d1;
}
textarea.el-textarea__inner::-moz-placeholder {
    color: #d1d1d1;
}
textarea.el-textarea__inner:-ms-input-placeholder {
    color: #d1d1d1;
}
textarea.el-textarea__inner::placeholder {
    color: #d1d1d1;
}
div.el-input.is-disabled .el-input__inner::-webkit-input-placeholder {
    color: #c6c6c6;
}
div.el-input.is-disabled .el-input__inner::-moz-placeholder {
    color: #c6c6c6;
}
div.el-input.is-disabled .el-input__inner:-ms-input-placeholder {
    color: #c6c6c6;
}
div.el-input.is-disabled .el-input__inner::placeholder {
    color: #c6c6c6;
}

div.el-textarea.is-disabled .el-textarea__inner::-webkit-input-placeholder {
    color: #c6c6c6;
}
div.el-textarea.is-disabled .el-textarea__inner::-moz-placeholder {
    color: #c6c6c6;
}
div.el-textarea.is-disabled .el-textarea__inner:-ms-input-placeholder {
    color: #c6c6c6;
}
div.el-textarea.is-disabled .el-textarea__inner::placeholder {
    color: #c6c6c6;
}
.el-form-item.is-success .el-input__inner{
	border:1px solid #e0e0e0;
}

// el-dialog 弹窗
.qj-alertBox .el-dialog {
  width: 460px;
}
div.el-dialog {
  padding: 0 20px;

  .el-dialog__header {
      padding: 0;
      height: 50px;
      border-bottom: 1px solid rgb(238, 236, 236);
      color: rgb(153, 153, 153);
      line-height: 50px;
      text-align: center;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      .el-dialog__title {
          font-weight: normal;
          color: rgb(153, 153, 153);
      }
      .el-dialog__close:hover {
          color: rgb(191, 203, 217);
      }
      .el-dialog__headerbtn {
          line-height: 50px !important;
          font-size: 16px !important;
          top:0;
      }
  }

  .el-dialog__footer {
      text-align: center;
      .dialog-footer {
          text-align: center;
          button {
              background: $fontBtnBg;
              border-color: $fontBtnBg;
              &:hover {
                  background: $frontBtnActive;
                  border-color: $frontBtnActive;
              }
          }
      }
  }
}

div.el-dialog__wrapper.no-padding-top {
  .el-dialog__body {
      padding-top: 0px !important;
  }
}
div.el-dialog__wrapper.no-padding-bottom {
  .el-dialog__body {
      padding-bottom: 0px !important;
  }
}
div.el-dialog__wrapper.has-scroll {
  .el-dialog__body {
      padding-right: 0px !important;
  }
}

.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close{
  color: $fontBtnBg;
}
div .el-dialog .el-dialog__header .el-dialog__close:hover{
  color: $fontBtnBg;
}

